<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Mars Scrape</a></p>
    </div>

  </div>
  <div class="container">
      <!-- Mars -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <h2 class="heading">Latest Mars News</h2>
          <h3 class="heading">{{listings.news_title}}</h3>
          <h4 class="heading">{{listings.news}}</h4>
        </div>
      </div>
  </div>
  <div class="container">
    <!-- Mars -->
    <div class="row" id="mars-news">
      <div class="col-md-6">
        <h2 class="heading">Featured Mars Image</h2>
        <img src={{listings.featured_img}}>
      </div>
    </div>
 </div>

 <div class="container">
  <!-- Mars -->
  <div class="row" id="mars-hemi">
    <div class="col-md-4">
      <h2 class="heading">Mars Hemispheres</h2>
    <ul id="hemisphere">
      {% for item in listings.hemisphere.img_url %}
          <li><img src={{ item['listings.hemisphere.img_url'] }}></li>
      {% endfor %}
      </ul>
    </div>
  </div>

</div>

</body>

</html>

